*
{
  margin: 0;
  padding: 0;
}
header
{
  padding: 0.5rem;
  background-color: royalblue;
  /* color: black; */
  display: flex;
  justify-content: center;
  height: 2.5rem;
  font-size: 2rem;
  font:bold;
}

footer
{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: royalblue;
  text-align: center;
  height: 2rem;
  font-size: 1.5rem;
}