   *
    {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .body
    {
      height: 100vh;
      background-image: url(/my_project1/images/background.png);
      background-size: cover;
      background-repeat: no-repeat;
    }
    li{
      list-style: none;
    }
    a
    {
      padding: 5px;
      color: white;
      text-decoration:none;
      font-size: 1rem;
    }
    a:hover
    {
      /* color: orange; */
      border: 1px solid white;
      border-radius: 10px;
    }
    header
    {
      position: relative;
      padding: 0 2rem;
      /* border: 2px solid white; */
    }
    .navbar {
  position: absolute;
  padding: 10px;
  top: 40px;
  left: 16%;
  width: 100%;
  height: 50px;
  max-width: 850px;
  margin: 0 auto; /* Center horizontally */
  /* border: 2px solid white; */
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(70px);
  background-color: rgba(255, 255, 255, 0.2);
}
.body .iphone-1 {
  width: 330px;
  height: 500px;
  position: absolute;
  left: 70%;
  transform: translateX(-50%);
  top: calc(76px + 0.5rem); /* Adjusted */
  z-index: 2;
}
 .body .iphone-1 img
{
  width: 330px;
  height: 500px;
}
.body .iphone-2
{
  width: 330px;
  height: 500px;
  position: absolute;
  right: 5%;
  transform: translateX(-50%,);
  top: calc(80px + 6rem); /* Adjusted */
  z-index: 1;
}
.body .iphone-2 img
{
  width: 330px;
  height: 500px;
}
    .navbar .logo a
    {
      border: none;
      font-size: 1.5rem;
      font-weight: bold ;
    }
    .navbar .links
    {
      display: flex;
      gap: 2rem;
    }
    .toggle-btn i
    {
      color: #ffffff;
      font-size: 1.5rem;
      cursor: pointer;
      display: none;
    }
    .action-btn
    {
      color: #ffffff;
      background-color: black;
      padding:0.5rem 1rem;
      font-size: 0.8rem;
      border: none;
      font-weight: bold;
      outline: none;
      cursor: pointer;
      border-radius: 20px;
      transition: scale 0.3 ease;
    }
    .action-btn:hover {
      border: none;
  transform: scale(1.05);
  background-image: linear-gradient(to right,#96F2FF,#FBFF3F,#B877FF,#C2E9CD);
  color: black;
}

.action-btn:active {
  transform: scale(1);
}
#gradient-text a {
  background-image: linear-gradient(#C6F1F7, #F983E9, #B877FF, #C2E9CD);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* Make the text transparent */
}
.hero-section
{
  padding: 10px;
  color: white;
  position: absolute;
  /* border: 2px solid white; */
  width: 592px;
  height: 92px;
  top: 350px;
  left: 95px;
  letter-spacing: 1PX;
}

.hero-section span {
  background: linear-gradient(90deg, #ff9933 0%, #ff9933 33.33%, #ffffff 33.33%, #ffffff 66.66%, #128807 66.66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.min-containeer
{
  padding: 10px;
  color: white;
  position: absolute;
  /* border: 2px solid white; */
  width: 592px;
  height: 50px;
  top: 500px;
  left: 95px;
  letter-spacing: 1PX;
}
.min-containeer span
{
  text-decoration: underline;
}
    .hero-section #wave
    {
      font-weight: bold;
      font-size: 30px;
      background-image: linear-gradient(to right, #B877FF , #C2E9CD 50%);
    }
    .wrapper
    {
      font-size: 2rem;
      font-weight: bold;
      opacity: 0;
      position: absolute;
      /* border: 2px solid white; */
      background-image: linear-gradient(to right, #B877FF , #C2E9CD 50%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
    .w1
    {
      animation: ani1 15s infinite;
    }
    .w2
    {
      animation: ani2 15s infinite;
    }
    .w3
    {
      animation: ani3 15s infinite;
    }
    .w4
    {
      animation: ani4 15s infinite;
    }
    @keyframes ani1
    {
      0%{
        opacity: 0;
      }
      10%{
        opacity: 1;
      }
      20%{
        opacity: 0;
      }
    }
    @keyframes ani2
    {
      20%{
        opacity: 0;
      }
      30%{
        opacity: 1;
      }
      40%{
        opacity: 0;
      }
    }
    @keyframes ani3
    {
      40%{
        opacity: 0;
      }
      50%{
        opacity: 1;
      }
      60%{
        opacity: 0;
      }
    }
    @keyframes ani4
    {
      60%{
        opacity: 0;
      }
      70%{
        opacity: 1;
      }
      80%{
        opacity: 0;
      }
    }
    .body2
    {
      position: relative;
      width: 100%;
      height: 100vh;
      background-color: black;
    }
    .box1 {
  position: absolute;
  top: 50px;
  width: 25px;
  height: 25px;
  margin: 30px;
  background-image: linear-gradient(to bottom right ,#C6F1F7, #F983E9, #B877FF, #C2E9CD);
}

    .box2
    {
      position: absolute;
      top: 68px;
      left: 56px;
      width: 12px;
      height: 12px;
      background-color: #C6F1F7;
    }
    .features h1
    {
      position: absolute;
      top: 8%;
      left: 7%;
      color: white;
      text-decoration: underline;
    }



    .box-1
    {
      position: absolute;
      top:15%;
      left: 10%;
      width: 1000px;
      height: 150px;
      /* border: 2px solid #76dbf1; */
    }
    .box-1 h1
    {
      padding-top: 20px;
      color: white;
      font-size: 100px;
    }
    .box-1 p{
      position: absolute;
      top: 0%;
      left: 20%;
      width: 250px;
      height: 150px;
      /* border: 2px solid white; */
      color: white;
      font-size: 40px;
    }
    .box-1 div
    {
      position: absolute;
      top: 40%;
      left: 60%;
      color: white;
      padding: 10px;
      /* border: 2px solid white; */
      border-radius: 10px;
      background-image:linear-gradient(rgba(176, 176, 176, 0.4),rgb(0, 0, 0,0.1)), url(/my_project1/images/gradient.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 300px;
    }
    .box-1::after {
  content: '';
  position: absolute;
  bottom: -1px; /* Adjust as needed */
  left: 0;
  width: 100%;
  height: 0.1px;
  background-color: white;
}
.box-2
{
  position: absolute;
      top: 40%;
      left: 10%;
      width: 1000px;
      height: 150px;
      /* border: 2px solid #76dbf1; */
}
.box-2 h1
    {
      padding-top: 20px;
      color: white;
      font-size: 100px;
    }
    .box-2 p
    {
      position: absolute;
      top: 0%;
      left: 20%;
      width: 250px;
      height: 150px;
      /* border: 2px solid white; */
      color: white;
      font-size: 40px;
    }
    .box-2 div
    {
      position: absolute;
      top: 40%;
      left: 60%;
      color: white;
      padding: 10px;
      /* border: 2px solid white; */
      border-radius: 10px;
      background-image:linear-gradient(rgba(176, 176, 176, 0.4),rgb(0, 0, 0,0.1)), url(/my_project1/images/gradient.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 300px;
    }
    .box-2::after {
  content: '';
  position: absolute;
  bottom: -1px; /* Adjust as needed */
  left: 0;
  width: 100%;
  height: 0.1px;
  background-color: white;
}
.box-3
{
  position: absolute;
      top: 65%;
      left: 10%;
      width: 1000px;
      height: 150px;
      /* border: 2px solid #76dbf1; */
}
.box-3 h1
    {
      padding-top: 20px;
      color: white;
      font-size: 100px;
    }
    .box-3 p
    {
      position: absolute;
      top: 0%;
      left: 20%;
      width: 250px;
      height: 150px;
      /* border: 2px solid white; */
      color: white;
      font-size: 40px;
    }
    .box-3 div
    {
      position: absolute;
      top: 40%;
      left: 60%;
      color: white;
      padding: 10px;
      /* border: 2px solid white; */
      border-radius: 10px;
      background-image:linear-gradient(rgba(176, 176, 176, 0.4),rgb(0, 0, 0,0.1)), url(/my_project1/images/gradient.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 300px;
    }
    .box-3::after {
  content: '';
  position: absolute;
  bottom: -1px; /* Adjust as needed */
  left: 0;
  width: 100%;
  height: 0.1px;
  background-color: white;
}